In [1]:
import pandas as pd
import glob

txtfiles = []
for file in glob.glob("COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/*.csv"):
    txtfiles.append(file[56:])

main_df=pd.DataFrame()


for i in txtfiles:
    temp_file = pd.read_csv("COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/{}".format(i))
    last_update = list(temp_file.loc[:, temp_file.columns.to_series().str.startswith("Last")])[0]
    temp_file[last_update] = pd.to_datetime(temp_file[last_update])
    temp_date = temp_file[last_update][0].date()
    
    country_column_name = list(temp_file.loc[:, temp_file.columns.to_series().str.startswith("Country")])[0]

    temp_df = temp_file.groupby(country_column_name).sum()
    temp_df['record_date']=temp_date

    main_df = main_df.append(temp_df)

In [2]:
temp_df['record_date'] = pd.to_datetime(temp_df['record_date'])
temp_df.groupby(temp_df.index).resample('W', on='record_date').sum()

                                  Confirmed  Deaths  Recovered
Country/Region       record_date
Australia            2020-02-02           5     0.0        0.0
Cambodia             2020-02-02           1     0.0        0.0
Canada               2020-02-02           2     0.0        0.0
Finland              2020-02-02           1     0.0        0.0
France               2020-02-02           5     0.0        0.0
Germany              2020-02-02           4     0.0        0.0
Hong Kong            2020-02-02          10     0.0        0.0
Japan                2020-02-02           7     0.0        1.0
Macau                2020-02-02           7     0.0        0.0
Mainland China       2020-02-02        6070   133.0      120.0
Malaysia             2020-02-02           7     0.0        0.0
Nepal                2020-02-02           1     0.0        0.0
Singapore            2020-02-02           7     0.0        0.0
South Korea          2020-02-02           4     0.0        0.0
Sri Lanka            2020-02-02           1     0.0        0.0
Taiwan               2020-02-02           8     0.0        0.0
Thailand             2020-02-02          14     0.0        5.0
US                   2020-02-02           5     0.0        0.0
United Arab Emirates 2020-02-02           4     0.0        0.0
Vietnam              2020-02-02           2     0.0        0.0

In [3]:
main_df.rename({"Iran (Islamic Republic of)":"Iran"}, inplace=True)

In [4]:
main_df.rename({"Iran (Islamic Republic of)":"Iran"})
main_df.groupby(main_df.index).tail(1).sort_values('Confirmed', ascending=False).head(11)

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active,record_date,Latitude,Longitude
China,NaN,NaN,NaN,81156.0,3249.0,70535.0,NaN,2020-03-19,1080.0817,3685.5800
Italy,NaN,NaN,NaN,41035.0,3405.0,4440.0,NaN,2020-03-19,41.8719,12.5674
Iran,NaN,NaN,NaN,18407.0,1284.0,5710.0,NaN,2020-03-19,32.4279,53.6880
Spain,NaN,NaN,NaN,17963.0,830.0,1107.0,NaN,2020-03-19,40.4637,-3.7492
"Korea, South",NaN,NaN,NaN,8565.0,91.0,1540.0,NaN,2020-03-19,35.9078,127.7669
Republic of Korea,NaN,NaN,NaN,7513.0,54.0,247.0,NaN,2020-03-10,36.0000,128.0000
Mainland China,NaN,NaN,NaN,6070.0,133.0,120.0,NaN,2020-01-29,NaN,NaN
Switzerland,NaN,NaN,NaN,4075.0,41.0,15.0,NaN,2020-03-19,46.8182,8.2275
United Kingdom,NaN,NaN,NaN,2716.0,138.0,67.0,NaN,2020-03-19,209.2548,-219.3465
Netherlands,NaN,NaN,NaN,2465.0,77.0,2.0,NaN,2020-03-19,76.8208,-133.7345
Austria,NaN,NaN,NaN,2013.0,6.0,9.0,NaN,2020-03-19,47.5162,14.5501

In [5]:
main_df2 = main_df[main_df.index.isin(['US', 'Italy', 'Spain', 'France', 'United Kingdom', 'China', 'Iran',
       'Belgium', 'Germany', 'Netherlands', 'Brazil', 'India', 'Russia', 'Turkey'])]

In [6]:
main_df2['Population(m)'] = 0

<ipython-input-6-b6047fc84284>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_df2['Population(m)'] = 0

In [7]:
main_df2.loc[main_df2.index=='US','Population(m)'] = 328
main_df2.loc[main_df2.index=='Spain','Population(m)'] = 47
main_df2.loc[main_df2.index=='Italy','Population(m)'] = 60
main_df2.loc[main_df2.index=='Belgium','Population(m)'] = 11
main_df2.loc[main_df2.index=='France','Population(m)'] = 67
main_df2.loc[main_df2.index=='United Kingdom','Population(m)'] = 67
main_df2.loc[main_df2.index=='China','Population(m)'] = 1393
main_df2.loc[main_df2.index=='Iran','Population(m)'] = 82
main_df2.loc[main_df2.index=='Germany','Population(m)'] = 83
main_df2.loc[main_df2.index=='Netherlands','Population(m)'] = 17
main_df2.loc[main_df2.index=='Brazil','Population(m)'] = 210
main_df2.loc[main_df2.index=='India','Population(m)'] = 1366
main_df2.loc[main_df2.index=='Russia','Population(m)'] = 145
main_df2.loc[main_df2.index=='Turkey','Population(m)'] = 83

/home/vishal/anaconda3/envs/heroku_covid_app/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [8]:
main_df2.loc[main_df2.index=='US', 'Population density /sq mi'] = 87
main_df2.loc[main_df2.index=='Spain', 'Population density /sq mi'] = 241
main_df2.loc[main_df2.index=='Italy', 'Population density /sq mi'] = 518
main_df2.loc[main_df2.index=='Belgium', 'Population density /sq mi'] = 974
main_df2.loc[main_df2.index=='France', 'Population density /sq mi'] = 319
main_df2.loc[main_df2.index=='United Kingdom', 'Population density /sq mi'] = 710
main_df2.loc[main_df2.index=='China', 'Population density /sq mi'] = 377
main_df2.loc[main_df2.index=='Iran', 'Population density /sq mi'] = 131
main_df2.loc[main_df2.index=='Germany', 'Population density /sq mi'] = 603
main_df2.loc[main_df2.index=='Netherlands', 'Population density /sq mi'] = 1089
main_df2.loc[main_df2.index=='Brazil', 'Population density /sq mi'] = 64
main_df2.loc[main_df2.index=='India','Population density /sq mi'] = 1073
main_df2.loc[main_df2.index=='Russia','Population density /sq mi'] = 23
main_df2.loc[main_df2.index=='Turkey','Population density /sq mi'] = 275

/home/vishal/anaconda3/envs/heroku_covid_app/lib/python3.8/site-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)

In [9]:
main_df2['record_date'] = pd.to_datetime(main_df2['record_date'])
main_df2.sort_values(by=['record_date'], inplace=True)

<ipython-input-9-ee78ff36978a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_df2['record_date'] = pd.to_datetime(main_df2['record_date'])
<ipython-input-9-ee78ff36978a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_df2.sort_values(by=['record_date'], inplace=True)

In [10]:
main_df2.rename(columns={"Confirmed": "Confirmed cases"}, inplace=True)

/home/vishal/anaconda3/envs/heroku_covid_app/lib/python3.8/site-packages/pandas/core/frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [11]:
main_df2

,FIPS,Lat,Long_,Confirmed cases,Deaths,Recovered,Active,record_date,Latitude,Longitude,Population(m),Population density /sq mi
US,NaN,NaN,NaN,1.0,0.0,0.0,NaN,2020-01-22,NaN,NaN,328,87.0
Brazil,NaN,NaN,NaN,0.0,0.0,0.0,NaN,2020-01-23,NaN,NaN,210,64.0
US,NaN,NaN,NaN,1.0,0.0,0.0,NaN,2020-01-23,NaN,NaN,328,87.0
France,NaN,NaN,NaN,2.0,0.0,0.0,NaN,2020-01-24,NaN,NaN,67,319.0
US,NaN,NaN,NaN,2.0,0.0,0.0,NaN,2020-01-24,NaN,NaN,328,87.0
...,...,...,...,...,...,...,...,...,...,...,...,...
Netherlands,0.0,107.044200,-264.960300,45437.0,5841.0,174.0,39422.0,2020-05-25,NaN,NaN,17,1089.0
Russia,0.0,61.524010,105.318756,344481.0,3541.0,113299.0,227641.0,2020-05-25,NaN,NaN,145,23.0
Spain,0.0,755.510158,-69.972552,235772.0,28752.0,150376.0,56644.0,2020-05-25,NaN,NaN,47,241.0
US,94224766.0,112847.054370,-269566.022798,1643246.0,97720.0,366736.0,1210704.0,2020-05-25,NaN,NaN,328,87.0
United Kingdom,0.0,270.029898,-482.924666,260916.0,36875.0,1151.0,222890.0,2020-05-25,NaN,NaN,67,710.0

In [12]:
main_df2.to_excel("covid_aggregated_filtered_2.xls")